@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  background: black;
  overflow-x: hidden;
  overflow-y: overlay;
  min-height: 100vh;
}

*::-webkit-scrollbar {
  width: 0.5em;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #0e0e0e;
  border-radius: 5px;
}

button:disabled {
  pointer-events: none;
  opacity: 0.3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-hero {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #008d55;
  border-radius: 6px;
  font-size: 16px;
  width: max-content;
  margin: 0 auto;
  margin-top: 1.5rem;
  font-weight: 500;
  color: white;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.488);
  transition: all 0.4s ease;
}

.btn-hero:hover {
  background-color: #00a78e;
}

.btn-hero:active {
  transform: scale(0.8);
}

.btn-hero #walletIcon {
  transition: all 0.3s ease;
}

.btn-hero:hover #walletIcon {
  transform: scale(1.4) rotate(-5deg);
}

#heading {
  font-weight: 300;
  color: #c3c3c3;
  margin: 0 auto;
  width: max-content;
  font-size: 28px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.address {
  display: flex;
  align-items: center;
  gap: 4px;
}

.copyIcon {
  cursor: pointer;
  color: #696969;
}

.copyIcon:hover {
  color: #0a3e6c;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
