.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 5rem;
  /* TODO remove next line */
  min-height: 80vh;
  padding-bottom: 2rem;
}

#heading {
  font-weight: 300;
  color: #c3c3c3;
  margin: 0 auto;
  width: max-content;
  font-size: 28px;
}

.content {
  max-height: 70vh;
  overflow: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 2px solid #101010;
  padding: 8px;
  border-radius: 10px;
}

.block {
  background-color: #030303;
  border-radius: 6px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.block:hover {
  background-color: #080808;
}

.action,
.link {
  font-weight: 300;
}

.action .method {
  color: #07931d;
}

.timestamp {
  color: #5b5b5b;
}

.link,
.contract {
  color: #2d59a7;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.contract {
  margin-top: 16px;
}

.link {
  opacity: 0;
  transition: opacity 0.1s ease;
}

.block:hover .link {
  opacity: 1;
}

@media only screen and (max-width: 800px) {
  .block {
    background-color: #0d0d0d;
  }

  .link {
    display: none;
  }
}
