.container {
  padding: 1.2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 1, 11, 0.6) 33%,
    rgba(0, 0, 0, 0.8) 100%
  );
  backdrop-filter: blur(30px);
  border-radius: 10px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #121212;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: #000000d5;
  z-index: 19;
}

.container p {
  font-weight: 300;
  font-size: 14px;
}

.icon {
  width: 40px;
  height: 40px;
  margin-block: 20px;
  color: green;
}

.link {
  color: #2d59a7;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.close {
  padding: 8px 12px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #1d76c3;
  border-radius: 6px;
  font-size: 14px;
  width: max-content;
  margin: 0 auto;
  margin-top: 1.5rem;
  font-weight: 500;
  color: white;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.488);
}
